on:
  push:
    tags:
      - 'v*'

jobs:
  test-action:
    runs-on: ubuntu-latest
    name: A job to test the action
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      - uses: wurielle/package-version-action@v1
        with:
          version: ${{ steps.vars.outputs.tag }}
          targets: './package.json'
